.countdown {
    font-size: 2rem;
}

.race-container {
    display: none;

    height: 100%;
    max-width: 1200px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.race-participants {
    text-align: left;
    font-size: 1.5em;
    border-spacing: 20px;
}

.progress-bar-container {
    width: 300px;
    height: 15px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgray;
}

.progress-bar {
    width: 0;
    height: 100%;
    background-color: lightskyblue;
}

.race-text {
    width: 60%;
    margin: 10px 10px;
    background-color: rgb(241, 241, 241);
    border: 2px solid yellow;
    font-size: 1.75em;
    white-space: pre-wrap;
}

.current-char {
    display: none;
    margin: 10px 10px;
    width: 60%;
    height: 30%;
    background-color: white;
    font-size: 3em;
}

.previous-chars-highlight,
.leaved-participant {
    background-color: red;
}

.current-char-highlight {
    background-color: green;
}

.race-timer {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    font-size: 2em;
}

.race-text,
.current-char {
    font-family: 'Cutive Mono', monospace;
    font-weight: bold;
}

.commentators {
    position: fixed;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
}

.commentators-message {
    width: 300px;
    margin: 20px 40px 30px 0;
    background: #00bfb6;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    color: #fff;
    font-family: arial;
    position: relative;
}

.commentators-message:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #00bfb6;
    border-top: 10px solid #00bfb6;
    border-bottom: 10px solid transparent;
    right: 19px;
    bottom: -19px;
}

.commentators-image {
    width: 200px;
    margin-left: 100px;
}

.commentators-image img {
    width: 100%;
}